{% extends 'director.html' %}

{% block content %}

    {% if notfound %}
        <h2>{{notfound}}</h2>
    {% else %}
        <div class="card" style="width: 22rem;height:30rem;">
            <img src="{{username.avatar_url}}" class="card-img-top" alt="导演照片">
            <div class="card-body">
                <h5 class="card-title">{{director.name}}</h5>
                <p class="card-text">导演姓名: {{director.name}}</p>
                <p class="card-text">出生日期: {{director.birthday}}</p>
                <p class="card-text">导演作品: {{director.film}}</p>
                <p class="card-text">客串角色: {{director.role}}</p>
            </div>
        </div>
    {% endif %}

{% endblock %}